{:deps true

 :dev-http {9090 "public/"}

 :builds
 {:app {:output-dir "public/compiledjs/"
        :asset-path "compiledjs"
        :target     :browser
        :modules    {:main {:init-fn qniform.frontend.main/main}}
        :devtools   {:after-load qniform.frontend.main/reload}}}}