{:deps {ring/ring            {:mvn/version "1.9.5"}
        org.clojure/clojure  {:mvn/version "1.11.1"}
        ring/ring-defaults   {:mvn/version "0.3.3"}
        meander/epsilon      {:mvn/version "0.0.650"}
        metosin/malli        {:mvn/version "0.8.9"}}
 :paths ["src" "resources"]}