 /* Navbar */

 nav {
   margin-bottom: 50px;
 }

 /* Event Form */
 form {
   display: table;
 }

 form>div {
   display: table-row;
 }

 label {
   display: table-cell;
   padding-right: 10px;
 }

 input {
   display: table-cell;
 }

 /* Dropdown Button */
 .dropbtn {
   background-color: light-grey;
   padding: 10px;
   font-size: 14px;
 }

 .dropdown {
   position: relative;
   display: inline-block;
 }

 .dropdown-content {
   display: none;
   position: absolute;
   min-width: 160px;
 }

 .dropdown-content a {
   padding: 12px 16px;
 }

 .dropdown:hover .dropdown-content {
   display: block;
 }