/* DEBUG */

p.debug {
  color: red;
  border: 1px solid red;
}

/* Navbar */

nav {
  margin-bottom: 50px;
}

/* Event Form */
form.table {
  display: table;
}

form>div.table {
  display: table-row;
}

label.table {
  display: table-cell;
  padding-right: 10px;
}

input.table {
  display: table-cell;
}

/* Dropdown Button */
.dropbtn {
  background-color: light-grey;
  padding: 10px;
  font-size: 14px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
}

.dropdown-content a {
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}