 /* Event Form */
 form {
   display: table;
   margin: 10px;
 }

 form>div {
   display: table-row;
 }

 label {
   display: table-cell;
 }

 input {
   display: table-cell;
 }

 /* Transaction Table */
 table {
   border-collapse: collapse;
 }

 td,
 th {
   padding-right: 10px;
   border: 1px solid lightgray;
 }

 /* Dropdown Button */
 .dropbtn {
   background-color: light-grey;
   padding: 10px;
   font-size: 14px;
 }

 .dropdown {
   position: relative;
   display: inline-block;
 }

 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
 }

 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }

 .dropdown-content a:hover {
   background-color: grey;
 }

 .dropdown:hover .dropdown-content {
   display: block;
 }

 .dropdown:hover .dropbtn {
   background-color: grey;
 }